#OPENAI Keys
OPENAI_API_KEY = 'Your OpenAI API key'
OPENAI_ORGANIZATION_ID = 'Your OpenAI Organization ID'

#OLAMA
OLLAMA_BASE_URL=http://localhost:11434

#HuggingFace
HuggingFace_Access_Token=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

#GEMINI
GEMINI_API_KEY = 'AIzaSyDiOsAd4ieaRsNC82SYPhpYt3cauzHfrXM'
